
body {
  /* background-color: #1ABC9C; */
}

.container {
  padding-top: 20px;
}

.jumbotron {
  background-color:  transparent;  
}

h1 {
  font-weight: bold;
  text-align: center;
  color: white !important;
  text-shadow: 1px 1px 1px black;
}

.description {
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
}

a {
  color: white;
}

a:hover {
  color: #428bca;
}

p {
  text-align: center;
}

input{
   text-align:center;
}

.social-media {
  text-align: center;
}

.form-group {
  text-align: center;
}

